/*!** Begin file: scaffolding.css ***/
body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    background-color: #b9ac8c;
}

#fxLoader {
    z-index: 9999;
    border-top: 4px solid #007dc3;
}

#boxLoader {
    background: #007dc3 url(http://img.berniaga.co.id/img/ajax-loader2.gif) no-repeat scroll 52px 3px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}/*!** End file: berniaga_login.css ***/